In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df = pd.read_pickle('final_features')
df.head(5)

,Year,citymarketid_1,citymarketid_2,city1,city2,airport_1,airport_2,nsmiles,passengers,fare,...,citymarketid_1_encoded,citymarketid_2_encoded,large_ms_std,lf_ms_std,passengers_per_mile,passenger_market_demand,miles/passenger,city1_popularity,city2_popularity,nmiles/popularity1
0,28,30135,33195,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",ABE,PIE,970,180,81.43,...,191.835909,152.390634,0.217198,0.342219,0.185567,90.000000,-790,388608,31571688852,30624538186440
1,28,30135,33195,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",ABE,TPA,970,19,208.93,...,191.835909,152.390634,0.201790,0.317246,0.019588,32.467532,-951,388608,31571688852,30624538186440
2,28,30140,30194,"Albuquerque, NM","Dallas/Fort Worth, TX",ABQ,DAL,580,204,184.56,...,188.713407,184.498419,0.218804,0.320739,0.351724,102.327448,-376,1782802924,6266981994,3634849556520
3,28,30140,30194,"Albuquerque, NM","Dallas/Fort Worth, TX",ABQ,DFW,580,264,182.64,...,188.713407,184.498419,0.221473,0.317882,0.455172,135.052179,-316,1782802924,6266981994,3634849556520
4,28,30140,30466,"Albuquerque, NM","Phoenix, AZ",ABQ,PHX,328,398,177.11,...,188.713407,178.174161,0.218804,0.317882,1.213415,398.000000,70,1782802924,16881499046,5537131687088

In [5]:
correlation_matrix = df.corr()
sns.heatmap(correlation_matrix, annot=True)
plt.show()

ValueError: could not convert string to float: 'Allentown/Bethlehem/Easton, PA'