In [5]:
import pandas as pd
import numpy as np

In [37]:
df_large  = pd.read_excel("Business_Dataset.xlsx")

In [38]:
df = df_large

In [39]:
df = df.drop('tbl', axis = 1)

In [40]:
#Fidning cardinatiy for data 
cardinality = []
for i in df:
    cardinality.append(df_large[i].nunique())
cardinality

[31,
 4,
 141,
 128,
 141,
 128,
 188,
 173,
 187,
 173,
 1155,
 3883,
 36323,
 67,
 7367,
 37508,
 71,
 9687,
 32283,
 238,
 207,
 245955]

In [41]:
df['Year'].min()

1993

In [42]:
df = df['Year'] - 1993

In [47]:
df = pd.get_dummies(df_large, columns=['quarter'])
df.head(1)

,tbl,Year,citymarketid_1,citymarketid_2,city1,city2,airportid_1,airportid_2,airport_1,airport_2,...,carrier_low,lf_ms,fare_low,Geocoded_City1,Geocoded_City2,tbl1apk,quarter_1,quarter_2,quarter_3,quarter_4
0,Table1a,2021,30135,33195,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",10135,14112,ABE,PIE,...,G4,1.0,81.43,NaN,NaN,202131013514112ABEPIE,False,False,True,False

In [48]:
#New dataframe where airportid_1 and 
# airportid_2 are replaced by their target-encoded versions based on fare_low.

airportid_1_encoded = df.groupby('airportid_1')['fare_low'].mean().to_dict()
df['airportid_1_encoded'] = df['airportid_1'].map(airportid_1_encoded)
airportid_2_encoded = df.groupby('airportid_2')['fare_low'].mean().to_dict()
df['airportid_2_encoded'] = df['airportid_2'].map(airportid_2_encoded)
df.drop(['airportid_1', 'airportid_2'], axis=1, inplace=True)
df.head()

,tbl,Year,citymarketid_1,citymarketid_2,city1,city2,airport_1,airport_2,nsmiles,passengers,...,fare_low,Geocoded_City1,Geocoded_City2,tbl1apk,quarter_1,quarter_2,quarter_3,quarter_4,airportid_1_encoded,airportid_2_encoded
0,Table1a,2021,30135,33195,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",ABE,PIE,970,180,...,81.43,NaN,NaN,202131013514112ABEPIE,False,False,True,False,191.835909,129.117099
1,Table1a,2021,30135,33195,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",ABE,TPA,970,19,...,154.11,NaN,NaN,202131013515304ABETPA,False,False,True,False,191.835909,156.790121
2,Table1a,2021,30140,30194,"Albuquerque, NM","Dallas/Fort Worth, TX",ABQ,DAL,580,204,...,184.44,NaN,NaN,202131014011259ABQDAL,False,False,True,False,188.713407,182.397671
3,Table1a,2021,30140,30194,"Albuquerque, NM","Dallas/Fort Worth, TX",ABQ,DFW,580,264,...,183.09,NaN,NaN,202131014011298ABQDFW,False,False,True,False,188.713407,186.393335
4,Table1a,2021,30140,30466,"Albuquerque, NM","Phoenix, AZ",ABQ,PHX,328,398,...,165.77,NaN,NaN,202131014014107ABQPHX,False,False,True,False,188.713407,185.221374