In [5]:
import pandas as pd
import numpy as np

In [8]:
df  = pd.read_excel("Business_Dataset.xlsx")
df.head()

,tbl,Year,quarter,citymarketid_1,citymarketid_2,city1,city2,airportid_1,airportid_2,airport_1,...,fare,carrier_lg,large_ms,fare_lg,carrier_low,lf_ms,fare_low,Geocoded_City1,Geocoded_City2,tbl1apk
0,Table1a,2021,3,30135,33195,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",10135,14112,ABE,...,81.43,G4,1.0000,81.43,G4,1.0000,81.43,NaN,NaN,202131013514112ABEPIE
1,Table1a,2021,3,30135,33195,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",10135,15304,ABE,...,208.93,DL,0.4659,219.98,UA,0.1193,154.11,NaN,NaN,202131013515304ABETPA
2,Table1a,2021,3,30140,30194,"Albuquerque, NM","Dallas/Fort Worth, TX",10140,11259,ABQ,...,184.56,WN,0.9968,184.44,WN,0.9968,184.44,NaN,NaN,202131014011259ABQDAL
3,Table1a,2021,3,30140,30194,"Albuquerque, NM","Dallas/Fort Worth, TX",10140,11298,ABQ,...,182.64,AA,0.9774,183.09,AA,0.9774,183.09,NaN,NaN,202131014011298ABQDFW
4,Table1a,2021,3,30140,30466,"Albuquerque, NM","Phoenix, AZ",10140,14107,ABQ,...,177.11,WN,0.6061,184.49,AA,0.3939,165.77,NaN,NaN,202131014014107ABQPHX

In [10]:
df.sample(5000)

,tbl,Year,quarter,citymarketid_1,citymarketid_2,city1,city2,airportid_1,airportid_2,airport_1,...,fare,carrier_lg,large_ms,fare_lg,carrier_low,lf_ms,fare_low,Geocoded_City1,Geocoded_City2,tbl1apk
230189,Table1a,2021,2,32600,32575,"Little Rock, AR","Los Angeles, CA (Metropolitan Area)",12992,12954,LIT,...,224.76,WN,0.6761,193.61,WN,0.6761,193.61,NaN,NaN,202121299212954LITLGB
66172,Table 1a,1993,3,32575,33851,"Los Angeles, CA (Metropolitan Area)","Oklahoma City, OK",12892,13851,LAX,...,169.98,WN,0.4200,142.39,WN,0.4200,142.39,"Los Angeles, CA (Metropolitan Area)\n(34.05223...","Oklahoma City, OK\n(35.468494, -97.521264)",199331289213851LAXOKC
79276,Table 1a,1993,1,33044,30852,"Louisville, KY","Washington, DC (Metropolitan Area)",14730,11278,SDF,...,177.45,US,0.8100,175.76,UA,0.0100,134.62,"Louisville, KY\n(38.256078, -85.751569)","Washington, DC (Metropolitan Area)\n(38.892062...",199311473011278SDFDCA
227168,Table1a,2021,1,30721,31453,"Boston, MA (Metropolitan Area)","Houston, TX",14307,12191,PVD,...,229.98,WN,0.9915,229.66,WN,0.9915,229.66,NaN,NaN,202111430712191PVDHOU
73574,Table 1a,2014,2,34524,32457,"Richmond, VA","San Francisco, CA (Metropolitan Area)",14524,13796,RIC,...,364.00,DL,0.4500,314.31,DL,0.4500,314.31,"Richmond, VA\n(37.540759, -77.433932)","San Francisco, CA (Metropolitan Area)\n(37.780...",201421452413796RICOAK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107090,Table 1a,1998,4,30792,31703,"Buffalo, NY","New York City, NY (Metropolitan Area)",10792,15070,BUF,...,264.78,US,0.9300,267.27,US,0.9300,267.27,"Buffalo, NY\n(39.945422, -78.64671)","New York City, NY (Metropolitan Area)\n(40.123...",199841079215070BUFSWF
175732,Table 1a,2003,1,31703,33667,"New York City, NY (Metropolitan Area)","Norfolk, VA (Metropolitan Area)",12391,14098,ISP,...,143.50,US,1.0000,143.50,US,1.0000,143.50,"New York City, NY (Metropolitan Area)\n(40.123...","Norfolk, VA (Metropolitan Area)\n(36.846164, -...",200311239114098ISPPHF
83069,Table 1a,2008,1,31714,30852,"Fort Myers, FL","Washington, DC (Metropolitan Area)",14635,12264,RSW,...,182.64,DL,0.2700,172.48,DL,0.2700,172.48,"Fort Myers, FL\n(40.253979, -103.801495)","Washington, DC (Metropolitan Area)\n(38.892062...",200811463512264RSWIAD
156665,Table 1a,2003,1,30721,31136,"Boston, MA (Metropolitan Area)","Jacksonville, FL",14307,12451,PVD,...,140.21,DL,0.3800,125.21,DL,0.3800,125.21,"Boston, MA (Metropolitan Area)\n(42.358894, -7...","Jacksonville, FL\n(30.325968, -81.65676)",200311430712451PVDJAX
89459,Table 1a,1993,3,32575,34100,"Los Angeles, CA (Metropolitan Area)","Philadelphia, PA",13891,14100,ONT,...,281.13,AA,0.2800,296.26,DL,0.1900,223.21,"Los Angeles, CA (Metropolitan Area)\n(34.05223...","Philadelphia, PA\n(39.951061, -75.16562)",199331389114100ONTPHL